body {
  font-family: monospace;
}

input {
  font-family: monospace;
  font-size: 12px;
}

.actions {
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.testScript {
  overflow: scroll;
  border: 2px solid;
  border-collapse: collapse;
  padding: 10px;
}

.hdlViewer {
  overflow: scroll;
  border: 2px solid;
  border-collapse: collapse;
  padding: 10px;
}

.pins {
  border: 2px solid;
  border-collapse: collapse;
  padding: 10px;
}

.statusMessage {
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}
